<!DOCTYPE html>
<html lang="et">
<head>
    <meta charset="UTF-8">
    <title>Kontakt - Dreamworks</title>
    <link href="https://fonts.googleapis.com/css2?family=Lilita+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    </head>
<body>
    <header>
        <div class="header-container">
            <h1>  Contact </h1>
            <nav>
                <ul>
                    <li><a href="/">About</a></li>
                    <li><a href="/about">Info</a></li>
                    <li><a href="/dreamworks">Dreamworks</a></li>

                </ul>
            </nav>
            <a href="/profile"class="profile-link"> <%= user.username %></a>
        </div>
    </header>
    
    <div class="container">
        <h1>Contact</h1>
        <div class="text-content">
            <p>Kui soovite rohkem teavet, siis kirjutage meile:</p>
            <ul>
                <li>E-post: dreamworksclub@gmail.com</li>
                <li>Telefon: +372 5857 8655</li>
                <li>Aadress: Pikk 70, 10133 Tallinn, Eesti</li>
            </ul>
        </div>
        
        <h1>Feedback</h1>
        <ul>
            <% feedback.forEach((fb) => { %>
                <li> <%= fb.message %></li>
            <% }); %>
        </ul>        
        
        <form action="/submit-feedback" method="post">
            <textarea name="message" placeholder="Your feedback" required></textarea>
            <button type="submit">To get feedback</button>
        </form>
    </div>
</body> 
</html>
