body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/8/84/DreamWorks_Channel_Logo.svg/1280px-DreamWorks_Channel_Logo.svg.png') no-repeat center center fixed;
  background-size: contain;
  background-color: #00111c;
  margin: 0;
}

/* Dreamworks, Welcome Dreamers to our magnificient world of dreams! */
h1 {
  color: #a7a2ff;
  text-align: center;
  font-size: xx-large;
  padding: 15px 15px;
}

/* About Us */
h2 {
  color: #a7a2ff;
  text-align: left;
  font-size:medium;
}

/* Dreamworks Classics, Recent release */
h3 {
  color: #a7a2ff;
  font-size:medium;
  text-align: left;
}

/* pikk tekst */
p {
  color: #ffffff;
  text-align: justify;
  font-size: small;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight:200;
}
 
/* menu osa */
li {
  display: inline-block; 
}

li a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 5px 15px;
  text-decoration: none;
  font-size: 15px;
}
